// My Variables


//colors
$white: #ffffff;
$color-primary:#58E1C1; //green circle
$color-secondary:#51DDFC; //blue circle and default button
$color-success:#63CC82; //green
$color-error:#E4757A; //red
$color-warning:#FD7856; //orange
$color-info:#927BC1; //dark purple


//breakpoints & media queries

$mediumbreakpoint: 768px;

